<!DOCTYPE html>

{% load static %}

<html>

<head>
   <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
   
   <script>
      function redirect(goto){
          if (goto != '') {
              window.location = goto;
          }
      }
   </script>
   <style>
         .column {
            float: left;
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
         }
         .row::after {
            content: "";
            clear: both;
            display: table;
         }

      </style>
      
</head>

<body>

<h1>ReVSeq Dashboard</h1>


<h2>Infections in Switzerland</h2>


<select name="strain" id="strain">
  <option value="" selected>Select strain</option>
  <option value="/home" selected>All strains</option>
  <option value="/strain/Adenovirus">Adenovirus</option>
  <option value="/strain/Bocavirus">Bocavirus</option>
  <option value="/strain/Influenza_A">Influenza A</option>
  <option value="/strain/Influenza_B">Influenza B</option>
  <option value="/strain/Metapneumovirus">Metapneumovirus</option>
  <option value="/strain/Parainfluenza_2">Parainfluenza 2</option>
  <option value="/strain/Parainfluenza_3">Parainfluenza 3</option>
  <option value="/strain/Parainfluenza_4">Parainfluenza 4</option>
  <option value="/strain/Polyomavirus" >Polyomavirus</option>
  <option value="/strain/RSV">RSV - A/B</option>
  <option value="/strain/SARS-CoV-2" >SARS-CoV-2</option>
  <option value="/strain/Enterovirus">Rhino- / Enterovirus</option>
  <option value="/strain/coronavirus_229E" >coronavirus 229E</option>
  <option value="/strain/coronavirus_HKU1" >coronavirus HKU1</option>
  <option value="/strain/coronavirus_NL63" >coronavirus NL63</option>
  <option value="/strain/coronavirus_OC43" >coronavirus OC43</option>
  <option value="/mixed" >Mixed</option>
</select>

<script>
var selectStrain = document.getElementById('strain');

      selectStrain.onchange = function(){
          var goto = this.value;
          redirect(goto);
          
      };
</script>

<div class="row">
<div class="column">
<!--<img src="{% static 'histogram_seq.png' %}" alt="histogram_seq">-->
{% autoescape off %}
        {{ barplot_seq }}
{% endautoescape %}
<!--<img src="{% static 'histogram_PCR.png' %}" alt="histogram_PCR">-->
{% autoescape off %}
        {{ barplot_pcr }}
{% endautoescape %}
</div>
<div class="column">
<iframe src="{% static 'map.html' %}" width="100%" height="500px" frameborder="0"></iframe>
</div>
</div>

</body>
</html>