<!DOCTYPE html>
{% load static %}

<html>

<head>
   <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

   <script>
      function redirect(goto){
          if (goto != '') {
              window.location = goto;
          }
      }
   </script>
   <style>
         .column {
            float: left;
            width: 50%;
            padding: 50px;
            box-sizing: border-box;
         }
         .row::after {
            content: "";
            clear: both;
            display: table;
         }
      </style>

</head>

<body>

<h1>ReVSeq Dashboard</h1>


<h2>Co-infections</h2>


<select name="strain" id="strain">
  <option value="" selected>Select strain</option>
  <option value="/home">All strains</option>
  <option value="/strain/Adenovirus">Adenovirus</option>
  <option value="/strain/Bocavirus">Bocavirus</option>
  <option value="/strain/Influenza_A">Influenza A</option>
  <option value="/strain/Influenza_B">Influenza B</option>
  <option value="/strain/Metapneumovirus">Metapneumovirus</option>
  <option value="/strain/Parainfluenza_2">Parainfluenza 2</option>
  <option value="/strain/Parainfluenza_3">Parainfluenza 3</option>
  <option value="/strain/Parainfluenza_4">Parainfluenza 4</option>
  <option value="/strain/Polyomavirus" >Polyomavirus</option>
  <option value="/strain/RSV">RSV - A/B</option>
  <option value="/strain/SARS-CoV-2" >SARS-CoV-2</option>
  <option value="/strain/Enterovirus">Rhino- / Enterovirus</option>
  <option value="/strain/coronavirus_229E" >coronavirus 229E</option>
  <option value="/strain/coronavirus_HKU1" >coronavirus HKU1</option>
  <option value="/strain/coronavirus_NL63" >coronavirus NL63</option>
  <option value="/strain/coronavirus_OC43" >coronavirus OC43</option>
  <option value="/mixed" >Mixed</option>
</select>
<script>
var selectStrain = document.getElementById('strain');

      selectStrain.onchange = function(){
          var goto = this.value;
          redirect(goto);
          
      };
</script>
<h3 style="border: 1px solid #000; padding: 10px; width: 20%">Total no. of co-infections: {{no_co_infections}}</h3>
{% autoescape off %}
        {{ co_inf_mat }}
{% endautoescape %}
<div class="row">
<select name="substrain" id="substrain">
<option value="all" selected>All strains</option>
{% for strain in strains %}
<option value="{{strain}}">{{strain}}</option>
{% endfor %}
</select>
</div>
<div id = 'pileup_plt'>
{% for p in pairs %}
<div class="column">
    <h2>{{p.first}} & {{p.second}}</h2>
    <img src="{% static 'mixed/pileup_'|add:p.first_clean|add:'_'|add:p.second_clean|add:'.png' %}" style="width:100%;border: 1px solid #000; padding: 10px">
</div>
{% endfor %}
<script>

var selectSubstrain = document.getElementById('substrain');
      selectSubstrain.onchange = function(){
        var substrain = this.value;
        pileup=''
        let pairs = {{ pairs|safe }}
        let selectedPairs
        if(substrain=='all'){
            selectedPairs = pairs;
        } else {
              selectedPairs= pairs.filter(function(item) {
              if (item.first == substrain || item.second == substrain)
                return true;
              return false;
            });
        }

        for (i in selectedPairs){
         pileup += '<div class=\"column\">'
         pileup += '<h2>' + selectedPairs[i].first + ' \& ' + selectedPairs[i].second+ '</h2>' 
         pileup += '<img src=\"/static/mixed/pileup_'+ selectedPairs[i].first_clean + '_' + selectedPairs[i].second_clean + '.png\" style=\"width:100%;border: 1px solid #000; padding: 10px\">';
         pileup += '</div>'
        
            document.getElementById('pileup_plt').innerHTML = pileup;
        }
          
      };
</script>
</div>
</body>
</html>